body{
  margin: 0;
  color: var(--white-text);
  font-family: var(--font-main);
}
.visionPage{
    width: 100%;
    height: auto;
    background: #030517;
    position: relative;
    top: 460.81px;
    padding-bottom: 90px;

}
.container{
  text-align: center;
  display: block;
  justify-items: center;
  justify-content: center;
}
.headingdiv{
   text-align: center;
   display: block;
   justify-items: center;
}
.heading1{
    width: 448px;
    font-weight: 700;
    font-size: var(--medium-text);
    line-height: 120%;
    letter-spacing: 3%;
    text-align: center;
    padding-top: 55px;
    padding-bottom: 15px;
}
.heading2{
    width: 552px;
    font-weight: 400;
    font-size: var(--small-text-2);
    line-height: 130%;
    letter-spacing: 3%;
    text-align: center;
    color: #BBBBBB;
    padding-bottom: 25px;

}
.subHeading{
    width: 900px;
    height: 108px;
    font-weight: 400;
    font-size: var(--small-text-2);
    line-height: 130%;
    letter-spacing: 3%;
    text-align: center;
    color: #D2D2D2;
}
.visionDiv{
    width: 86%;
    display: flex;
    gap: 50px;
    justify-self: center;
    justify-content: center;
    
}

.visionWrapper {
  padding: 2px; 
  border-radius: 12px;
  background: linear-gradient(
    180deg,
    #01B4DE -15.33%,
    rgba(201, 201, 201, 0) 34.33%,
    rgba(214, 214, 214, 0) 72%,
    #01B4DE 102.33%
  );
  width: fit-content;
  display: inline-block;
  transition: box-shadow 0.4s ease;
}

.visionWrapper:hover {
  transform: translateY(-4px);
  box-shadow: 0 0 4px #01B4DE, 0 0 4px #01B4DE55;
  transition: all 0.3s ease;
}


.vision {
  width: 496px;
  height: 491px;
  padding: 32px;
  background: radial-gradient(400px at 98% top, #000080 54%, var(--dark-bg) 98%);
  border-radius: 10px;
  box-shadow: 0px 4px 43px 0px #5C2FAE1A;
  overflow: hidden;
  position: relative;
  z-index: 1;
}


.textDiv{
   height: auto;
   position: relative;
   top: 35px;
}
  .text1{
    font-weight: 700;
    font-size: var(--small-text);
    line-height: 150%;
    letter-spacing: 3%;
    z-index: 20;
    text-align: left;
    position: relative;
  }
  .text2{
    width: 410px;
    font-weight: 400;
    font-size: var(--smaller-text);
    line-height: 150%;
    letter-spacing: 3%;
    z-index: 20;
    text-align: left;
  }
  .imageIcon1{
    width: 330px;
    position: relative;
    top: 0px;

  }
  .imageIcon2{
    width: 254px;
    position: relative;
  }
  @media (max-width:1100px) {
    .subHeading{
      width: 700px;
      
    }
    .visionDiv{
      margin-top: 40px;
    }
    .vision{
      width: 397px;
      height: 392px;
      
    }
    .text1{
      top: -20px;
    }
    .text2{
      width: 350px;
      position: relative;
      top: -10px;
    }
    .imageIcon1{
      width: 220px;
      position: relative;
      top: 0px;
  
    }
    .imageIcon2{
      width: 170px;
      position: relative;
    }
  }
  @media (max-width: 575.98px) {
    .visionPage{
      top: 220px;
      padding-bottom: 25px;
    }
    .headingdiv{
     width: 80%;
     justify-self: center;
    }
    .heading1{
      line-height: 102%;
     width: 100%;
    }
    .heading2{
      /* border: 1px solid; */
      line-height: 120%;
      font-size: var(--smaller-text);
     width: 100%;
    }
    .subHeading{
     width: 80%;
     justify-self: center;
     font-size: 19px;
    }
    .visionDiv{
       width: 80%;
       display: block;
       margin-top: 140px;
    }
    .vision{
      width: 100%;
      height: 320px;
    }
    .visionWrapper{
      width: 100%;
      margin-top: 30px;
    }
    .textDiv{
      width: 260px;
      height: auto;
      top: 10px;
      left: -8px;
    }
    .text1{
      font-size: 24px;
      line-height: 119%;
      letter-spacing: 3%;
    }
   
    .text2{
      width: 100%;
      font-size: var(--smaller-text);
      line-height: 125%;
    }
    .imageIcon1{
      width: 135px;
      top: -20px;
    }
    .imageIcon2{
      width: 110px;
      top: -20px;
    }
 }

 @media (min-width: 576px) and (max-width: 767.98px) {
 
 }
 
 @media (min-width: 768px) and (max-width: 991.98px) {
  .visionPage{
    top: 220px;
    padding-bottom: 25px;
  }
  .headingdiv{
    width: 80%;
    justify-self: center;
   }
   .heading1{
     line-height: 102%;
    width: 100%;
   }
   .heading2{
     /* border: 1px solid; */
     line-height: 120%;
     font-size: var(--smaller-text);
    width: 100%;
   }
   .subHeading{
    width: 80%;
    justify-self: center;
    font-size: 19px;
   }
   .visionDiv{
      width: 80%;
      margin-top: 40px;
      justify-content: center;
   }
   .vision{
     width: 100%;
     height: 320px;
   }
   .visionWrapper{
     width: 100%;
     margin-top: 30px;
   }
   .textDiv{
     width: 260px;
     height: auto;
     top: 10px;
     left: -8px;
   }
   .text1{
     font-size: 24px;
     line-height: 119%;
     letter-spacing: 3%;
   }
  
   .text2{
     width: 100%;
     font-size: var(--smaller-text);
     line-height: 125%;
   }
   .imageIcon1{
     width: 135px;
     top: -20px;
   }
   .imageIcon2{
     width: 110px;
     top: -20px;
   }
  
 }
 

 @media (min-width: 992px) and (max-width: 1199.98px) {

 }
 
 @media (min-width: 1200px) {

 }
 
   
 